<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-content>
    <ion-grid>
       <ion-col>
           <ion-row>
             <ion-button (click)="login()">Login with google</ion-button>
           </ion-row>
        </ion-col>
        <ion-col>
          <ion-card *ngIf="this.name">
              <ion-card-header>
                  <ion-card-title>{{name}}</ion-card-title>
                  <ion-card-subtitle>Number of images:</ion-card-subtitle>
              </ion-card-header>
              </ion-card>
        </ion-col>
    </ion-grid>
</ion-content>
</ion-content>
